<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('./font') %>
</head>
<body>
    
        <h1>Dashboard</h1>
 
        <h2>Welcome to your dashboard</h2>
        <p>Here you can find all the important information at a glance.</p>
        <!-- Add more dashboard content here -->
        <a href="/users/logout">logout</a>
    <footer>
        &copy; 2024 My Dashboard App
    </footer>
    
</body>
</html>
